[submodule "submodules/FTXUI"]
	path = submodules/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "libraries/EestvGit"]
	path = libraries/EestvGit
	url = git@github.com:EmielEstievenart/EestvGit.git
